.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}
svg {
  padding-left: 50px;
}
.paymentHeader {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.paymentHeader .logo {
  float: left;
  padding: 20px;
}
.paymentHeader .logo img {
  width: 150px;
}
.paymentHeader .paymentMode {
  float: right;
  padding: 20px;
}
.paymentHeader .paymentMode .paymentModeEntry {
  float: left;
  padding: 8px;
  opacity: 0.4;
  cursor: pointer;
}
.paymentHeader .paymentMode .paymentModeEntry:hover {
  opacity: 0.8;
}
.paymentHeader .paymentMode .paymentModeEntry img {
  width: 40px;
}
.paymentHeader .paymentMode .paymentModeEntrySelected {
  opacity: 1 !important;
}
.cryptoSymbol {
  text-transform: uppercase;
}
.payment {
  position: absolute;
  width: calc(100% - 401px);
  height: 100%;
}
.payment .paymentCurrent {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% - 401px);
  text-align: center;
  height: 100%;
  padding: 20px;
  padding-top: 90px;
}
.payment .paymentCurrent .paymentCurrentTitle {
  font-size: 11px;
}
.payment .paymentCurrent .paymentCurrentDetail {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 15px;
}
.payment .paymentCurrent .paymentCurrentDetail input {
  max-width: 50%;
  width: 200px;
}
.payment .paymentCurrent .paymentCurrentAddress {
  padding: 15px 0px;
  font-size: 22px;
  font-weight: bold;
}
.payment .paymentCurrent .paymentCurrentAddress .paymentCurrentAddressQR {
  height: 200px;
  width: 200px;
  padding: 15px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 15px;
}
.payment .paymentPaid {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% - 401px);
  text-align: center;
  height: 100%;
  padding: 20px;
  padding-top: 90px;
}
.payment .paymentPaid .paymentPaidContent {
  padding-top: 70px;
}
.payment .paymentPaid .paymentPaidContent .paymentPaidContentLogo {
  padding: 30px;
  background-color: #121212;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: auto;
  margin-bottom: 40px;
}
.payment .paymentPaid .paymentPaidContent .paymentPaidContentText {
  font-size: 24px;
}
.payment .paymentPaid .paymentPaidContent .paymentPaidContentText span {
  font-weight: bold;
}
.payment .paymentPending {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% - 401px);
  text-align: center;
  height: 100%;
  padding: 20px;
  padding-top: 90px;
}
.payment .paymentPending .paymentPendingContent {
  padding-top: 70px;
}
.payment .paymentPending .paymentPendingContent .paymentPendingContentText {
  font-size: 24px;
}
.payment .paymentCallToAction {
  position: absolute;
  bottom: 25px;
  width: calc(100% - 40px);
}
.sidebarHistory {
  position: fixed;
  top: 0px;
  left: calc(100% - 401px);
  width: 400px;
  height: 100%;
  border-left: 1px solid #666;
}
.sidebarHistory .sidebarHistoryEntry {
  padding: 20px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.sidebarHistory .sidebarHistoryEntry .sidebarHistoryEntryHash {
  font-size: 10px;
  color: #bbb;
}
.sidebarHistory .sidebarHistoryEntry .sidebarHistoryEntryValue {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px;
}
.sidebarHistory .sidebarHistoryEntry .sidebarHistoryEntryConfirmation {
  font-size: 11px;
  color: #ddd;
}
